<a href="https://colab.research.google.com/github/anisbagwan/100_Days_Code_Challenge/blob/main/Python_Basics_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 1 (Sat. 30-07

In [1]:
def ifOdd(num):
  return(True if(num%2!=0) else False)

In [ ]:
ifOdd(3)

True

In [ ]:
def oprtn():
  num1=int(input())
  num2=int(input())
  oprt=input()
  if oprt=='+':
    print(num1+num2)
  elif oprt=='-':
    print(num1-num2)
  else:
    print(num1*num2)

In [ ]:
oprtn()

52
65
*
3380

# Prime Numbers

In [ ]:
#num=int(input("Enter a number: "))
def prm_chkr(num):
  check=True
  i=2
  while i*i<=num:
      if(num%i==0):
          check=False
          break
      i+=1
  return check
'''if(check and num!=1):
    print(str(num)+" is a Prime Number")
else:
    print(str(num)+" is not a Prime Number")'''

'if(check and num!=1):\n    print(str(num)+" is a Prime Number")\nelse:\n    print(str(num)+" is not a Prime Number")'

In [ ]:
prm_chkr(4)

False

In [ ]:
def prm_nmbrs(lower,upper):
  return [i for i in range(lower,upper) if prm_chkr(i)==True and i != 0 and i != 1]

In [ ]:
prm_nmbrs(1,10)

[2, 3, 5, 7]

In [ ]:
n=499979
for i in range(n):
    a=0
    if i==0 or i==1:
       continue
    else:
       for j in range(2,int(i/2)+1):
           if (i%j==0):
              break
       else:
          a+=1
a

0

In [ ]:
def prime_no_rnge(lower,upper):
  x=2
  check=True
  prm_n=[]
  for i in range(lower,upper):
      if i == 0 or i == 1:
            continue
      else:
        for j in range(2,int(i/2)+1):
          if(i%x==0):
            
            break
        else:
         prm_n.append(i)
      
  return prm_n

In [ ]:
prime_no_rnge(1,20)

[2, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
def printFibo(n):
  ''' This function returns the fibonacci series'''
  a=0                                                                           # Assign 0th element of list that is 0
  b=1                                                                           # Assign 1th element of list thet is 1
  for i in range(n):                                                            # Iterate through each digit fall under given number
    print(a)                                                                    # a will store all the elements of fib-series
    sum=a+b                                                                     # Add the elements stored in a and b
    a=b                                                                         # Assign a's value to b
    b=sum                                                                       # Assign the sum of a and b to b
  return a                                                                      # Return last element stored in a

In [ ]:
printFibo(10)

0
1
1
2
3
5
8
13
21
34

55

In [ ]:
bulbs=10
n=1
lst_bulbs=[ i for i in range(1,bulbs+1)]

for i in lst_bulbs:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
def bulbToggle(num):
  i=1
  while i*i<=num:
    print(i)
    i+=1

In [ ]:
bulbToggle(10)

1
2
3

In [ ]:
n=5
def pattern_1(n):
  nst=1
  nsp=n-1

  for i in range(1,n+1):
    for csp in range(1,nsp+1):
      print("  ",end="")
    for cst in range(1,nst+1):
      print(" *",end="")
    nst+=1
    nsp-=1
    print()

In [ ]:
pattern_1(5)

         *
       * *
     * * *
   * * * *
 * * * * *

In [ ]:
def pattern_2(n):
  nst=n
  nsp=0

  for i in range(1,n+1):
    # Spaces
    for csp in range(1,nsp+1):
      print("  ",end="")
    # Stars
    for cst in range(1,nst+1):
      print(" *",end="")
    # Relation in spaces and stars
    nst-=1
    nsp+=1
    print()

In [ ]:
pattern_2(5)

 * * * * *
   * * * *
     * * *
       * *
         *

In [ ]:
def pattern_3(n):
  nst=n
  nsp=0

  for i in range(1,n+1):
    for csp in range(1,nst+1):
      print("* ",end="")
    for cst in range(1,nsp+1):
      print("  ",end="")
    nst-=1
    
    print()

In [ ]:
pattern_3(5)

* * * * *
* * * *
* * *
* *
*

In [ ]:
# Pyramid pattern
def pattern_4(n):
  nst=1
  nsp=n-1

  for i in range(1,n+1):
    for csp in range(1,nsp+1):
      print(" ",end="")
    for cst in range(1,nst+1):
      print(" *",end="")
    nst+=1
    nsp-=1
    print()

In [ ]:
pattern_4(5)

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
def pattern_5(n):
  nst=1
  nsp=0

  for i in range(1,n+1):
    for csp in range(1,nsp+1):
      print(" ",end="")
    for cst in range(1,nst+1):
      print(" *",end="")
    nst+=1
    
    print()

In [ ]:
pattern_5(5)

 *
 * *
 * * *
 * * * *
 * * * * *

In [ ]:
# Increasing digits pattern
def pattern_6(n):
  num=0
  count=1
  for nums in range(1,n+1):
    # Number
    for digit in range(1,num+1):
      print(count," ".format(digit),end="")
      count+=1
    num+=1
      
    print()

In [ ]:
pattern_6(5)

1
2  3
4  5  6
7  8  9  10

In [ ]:
# Fibonacci series pattern
def pattern_7(n):
  num=1
  a=0
  b=1
  for nums in range(1,n+1):
    # Number
    for digit in range(1,num+1):
      print(a," ",end="")
      sum=a+b
      a=b
      b=sum
    num+=1
      
    print()

In [ ]:
pattern_7(5)

0
1  1
2  3  5
8  13  21  34
55  89  144  233  377

In [ ]:
# Binomial series pattern
def pattern_binomialseries(N):
  num=1
  
  for n in range(0,N):
    # Number
    val=1
    for r in range(0,num):
      print(val," ",end="")
      val=(n-r)*val/(r+1)
    num+=1
      
    print()

In [ ]:
pattern_binomialseries(6)

1
1  1.0
1  2.0  1.0
1  3.0  3.0  1.0
1  4.0  6.0  4.0  1.0
1  5.0  10.0  10.0  5.0  1.0

In [ ]:
# Inverse pyramid pattern
def pattern_8(n):
  nst=n
  nsp=0

  for i in range(1,n+1):
    for csp in range(1,nsp+1):
      print(" ",end="")
    for cst in range(1,nst+1):
      print(" *",end="")
    nst-=1
    nsp+=1
    print()

In [ ]:
pattern_8(5)

 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
# Factorial of number
def factorial(n):
  const=1
  for num in range(1,n+1):
    const*=num
  return const

In [ ]:
factorial(8)

40320

In [ ]:
# Program to check whether given number is Fibonacci or not.
def fibonacci_checker(n):
  a=0
  b=1
  fib_lst=[]
  for num in range(round(n*1.5)):
      fib_lst.append(a)
      sum=a+b
      a=b
      b=sum
  if n in fib_lst:
    return "It's a fibonacci number"
  else:
    return "It's not a fibonacci number"

In [ ]:
print(fibonacci_checker(55))

It's a fibonacci number

In [ ]:
#Program to Check whether numbers is Armstrong or not.
'''An Armstrong number of three digits is an integer such that the sum of the 
cubes of its digits is equal to the number itself. For example, 371 is an 
Armstrong number since 3**3 + 7**3 + 1**3 = 371.'''

n=371
len=[i for i in map(int,str(n))]

len

[3, 7, 1]

In [ ]:
num = 123456
print(len(str(num)))

TypeError: ignored

In [ ]:
def Armstrong(a):
    temp = a
    result = 0
    order = len([for i in str()])
    while temp > 0:
        digit = temp % 10
        result += digit**order
        temp //= 10
    return "It's an Armstrong Number" if (result == a) else "No, It's not an Armstrong Number"

In [ ]:
Armstrong(5)

TypeError: ignored

# Best Time to Buy and Sell Stock
Input: prices = [7,1,5,3,6,4]
Output: 5
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.

In [ ]:
prices = [7,1,5,3,6,4]
def maxProfit(prices):
  buy=prices[0]
  max_prft=0
  for ind in range(1,len(prices)):
    # Check the price is less or greater than the specified buy value
    if buy>prices[ind]:
      buy=prices[ind]
    # Otherwise calculate the maximum margin
    elif (prices[ind]-buy)>max_prft:
      max_prft=prices[ind]-buy
  return max_prft

In [ ]:
maxProfit(prices)

5

1. Input: prices = [7,1,5,3,6,4]

        Output: 7

  - Explanation:
    
    Buy on day 2 (price = 1) and sell on day 3 (price = 5), profit = 5-1 = 4.
Then buy on day 4 (price = 3) and sell on day 5 (price = 6), profit = 6-3 = 3.
Total profit is 4 + 3 = 7.

2. Input: prices = [1,2,3,4,5]

        Output: 4

  Explanation: Buy on day 1 (price = 1) and sell on day 5 (price = 5), profit = 5-1 = 4.
Total profit is 4.

In [ ]:
max_prft=0
for i in range(1,len(prices)):
    if prices[i]>prices[i-1]:
        max_prft+=prices[i]-prices[i-1]
max_prft

7

1. Input: prices = [7,1,5,3,6,4]

  Output: 7

  Explanation: Buy on day 2 (price = 1) and sell on day 3 (price = 5), profit = 5-1 = 4.
Then buy on day 4 (price = 3) and sell on day 5 (price = 6), profit = 6-3 = 3.
Total profit is 4 + 3 = 7.
Example 2:

2. Input: prices = [1,2,3,4,5]

  Output: 4

  Explanation: Buy on day 1 (price = 1) and sell on day 5 (price = 5), profit = 5-1 = 4.
Total profit is 4.
Example 3:

3. Input: prices = [7,6,4,3,1]
  Output: 0
  Explanation: There is no way to make a positive profit, so we never buy the stock to achieve the maximum profit of 0.

# Problem 3: Program to find HCF of numbers.
HCF or Highest Common Factor is the greatest number which divides each of the two or more numbers. HCF is also called the Greatest Common Measure (GCM) and Greatest Common Divisor(GCD). HCM and LCM are two different methods, where LCM or Least Common Multiple is used to find the smallest common multiple of any two or more numbers.

    - Input:
            - Enter 1st Number: 5
            - Enter 2nd Number: 12
    - Output: HCF: 1

In [ ]:
def hcf(n,m):
  n_div=[i for i in range(1,n) if n%i==0]
  print(n_div)
  m_div=[i for i in range(1,m) if m%i==0]  
  print(m_div)
  f_div=[i for i in n_div if i in m_div]

  return print('The HCF of {} and {} is: {}'.format(n,m,max(f_div)))

In [ ]:
hcf(24,20)

[1, 2, 3, 4, 6, 8, 12]
[1, 2, 4, 5, 10]
The HCF of 24 and 20 is: 4

# Problem 4: Program to find LCM of numbers.
LCM or Least Common Multiple is used to find the smallest common multiple of any two or more numbers.

    - Input:
          - Enter 1st Number: 5
          - Enter 2nd Number: 12
    - Output: LCM: 1

In [ ]:
def lcm(m,n):
  m_div=[i for i in range(1,m) if m%i==0 ]
  
  n_div=[i for i in range(1,n) if n%i==0 ]
  
  f_div=[i for i in m_div if i in n_div]

  return print('The LCM of {} and {} is: {}'.format(m,n,min(f_div)))

In [ ]:
hcf(24,20)

The HCF of 24 and 20 is: 4

In [ ]:
nums=[10,6,9]
len_nums=len(nums)-1
s=min(nums)
print(s)
l=max(nums)
s_div=[i for i in range(1,s+1) if s%i==0]
print(s_div)
l_div=[i for i in range(1,l+1) if l%i==0]
print(l_div)        
f_div=[i for i in s_div if i in l_div]

max(f_div)

6
[1, 2, 3, 6]
[1, 2, 5, 10]

2

In [ ]:
len(nums)

5

#Given an array of strings nums containing n unique binary strings each of length n, return a binary string of length n that does not appear in nums. If there are multiple answers, you may return any of them.

- Example 1:

    - Input: nums = ["01","10"]
    - Output: "11"
- Explanation: "11" does not appear in nums. "00" would also be correct.

In [ ]:
nums = ["01","10"]
def 
nums1=[j for i in range(len(nums)) for j in nums[i]]

nums2=[ nums1[i]+nums1[i-1] for i in range(1,len(nums1))]  
f_nums=(i for i in nums2 if i not in nums)
f_nums

['0', '1', '1', '0']

In [ ]:
#input -> a=[1,2,3,4,5], n=2

a=[1,2,3,4,5]
n=2

def rotate(a,n):
  n=n%len(a)
  return a[n:]+a[:n]

In [ ]:
rotate(a,2)

[3, 4, 5, 1, 2]

In [ ]:
rotate(a,7)

[3, 4, 5, 1, 2]

python program to get the index of the first occurrence in sorted array

In [ ]:
a=[1, 2, 2, 2, 2, 3, 4, 7, 8, 8 ]
def frt_occ(a):
  a1=[]
  for i in a:
    if i not in a1:
      a1.append(i)
  return a1[0]

In [ ]:
frt_occ(a)

1

In [ ]:
nums=[1,2,2,3,5,6,6,8]
target=2
first=-1
last=-1
for i in range(len(nums)):
    if target!=nums[i]:
       continue
    if first==-1:
      first=i
    last=i
print([first,last])

[1, 2]

Given a sorted array of distinct integers and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You must write an algorithm with O(log n) runtime complexity.

In [ ]:
a=[1,2,3,6,8]
target=4
def searchInsert(a,t):
  for i in range(len(a)):
    if target==a[i]:
      return i
    elif target<a[i]:
      return i
  return i

In [ ]:
searchInsert(a,target)

3

In [ ]:
a=77
b=0
c=1
fib_lst=[]
for i in range(1,a+1):
  fib_lst.append(b)
  sum=b+c
  b=c
  c=sum
fib_lst

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707]

# Momspresso python question unsolved

In [7]:
intrvl=[[5,6],[7,10],[3,5],[4,7],[1,2]]

[5, 6]
[5, 6]
[3, 5]
[3, 5]
[1, 2]
[1, 2]

IndexError: ignored

In [ ]:
l=[1,2,3,5,4]
l.pop(1)
l

[1, 3, 5, 4]

In [ ]:
int1=int(input("Enter a number: "))
int2=int(input("Enter a number: "))
print("The sum of {} and {} is {}".format(int1,int2,int1+int2))

Enter a number: 5
Enter a number: 8
The sum of 5 and 8 is 13

# Code with harry create dictionary

In [ ]:
dictionary={'Up':'Down','High':'Low','Fast':'Slow'}

In [ ]:
inp=input("Enter a word to know its oppostite words: ")

for k,n in dictionary.items():
  if inp == k :
    print(n) 
  else:
    print('Give a matching word')
    break

Enter a word to know its oppostite words: 888
Give matching word

In [ ]:
# Simpe way
dictionary={'Up':'Down','High':'Low','Fast':'Slow'}
inp=input("Enter your desired word and get its opposite: ")
dictionary[inp]

Enter your desired word and get its opposite: fast

KeyError: ignored

In [ ]:
if inp==dictionary.items():
  print(dictionary.value())

# Set code with harry

In [ ]:
s={1,2,3,4,5}
s1={4,5,6,7,8,9}

s3=s.union(s1)

In [ ]:
s4={11,12,13,14}

In [ ]:
s.intersection(s3)

{1, 2, 3, 4, 5}

In [ ]:
print(s.isdisjoint(s4))

True

In [ ]:
s5=list(s4)

In [ ]:
s5+[1,2,3,4]

[11, 12, 13, 14, [4, 2, 5, 6, 4], 1, 2, 3, 4]

In [ ]:
s5.remove(s5[4])

In [ ]:
s5

[11, 12, 13, 14]

# If else code with harry

In [ ]:
age=int(input("Enter your age in years "))
if age>80:
  print("Please provide a valid age")
  age=int(input("Enter your age in years "))
if (age>18):
  print("You can drive the car")
elif age==18:
  print("We can not decide")
else: 
  print("You can not drive the car")

Enter your age in years 888
Please provide a valid age
Enter your age in years 65
You can drive the car

# Faulty calculator code with harry
Design a calculator which correctly solves all the problems except  the following ones

45*3=555 56+9=77 56/6=4

Program should take operator and two numbers from user

In [7]:
num1,num2=input("Enter two numbers of ypur choice: ").split()
oprtr=input("Enter operator of your choice(*,/,+,-): ")

if int(num1)==45 and int(num2)==3 and oprtr=='*' :
  print(555)
elif int(num1)==56 and int(num2)==9 and oprtr=='+':
  print(77)
elif int(num1)==56 and int(num2)==6 and oprtr=='/' :
  print(4)
else:
  if oprtr=='+':
    print(int(num1)+int(num2))
  elif oprtr=='-':
    print(int(num1)-int(num2))
  elif oprtr=='*':
    print(int(num1)*int(num2))
  else:
    print(int(num1)/int(num2))

6.222222222222222

:

# List and numbers code with harry
Create a list of numbers, words and check if the number is numeric or not and if it is numeric print those numbers which are greater then 5.

In [ ]:
lst=[int,float,'anis','bagwan',8,6,9,7,4,5,55,69,14,89,52,5]

for item in lst:
  if item.aplha():
    print(item)

AttributeError: ignored

# Write a Python program to check whether a String is Palindrome or not?

In [ ]:
string='bba'
if string[:]==string[::-1]:
  print("String is palindrome")
else:
  print("String is not palindrome")

String is not palindrome

#Write a python program to remove a given character from string.

For Example:

Input String: Quescol

Input Character : e

Output: Quscol (After removing ‘e’)

In [ ]:
string="machine learning"
chr="e"
string=string.replace("a"," ")
string

'm chine le rning'

In [ ]:
str1="machine learning"
print(str1.replace("a"," ",1).lower())

m chine learning

#Write a python program to find the last position of a given substring.
Input:
Emma is a data scientist who knows Python. Emma works at google.

Emma

Output:
Last occurrence of Emma starts at index 43

In [ ]:
str_1="Practice and practice until you fail."
word="until"
print("Last occurrence of {} starts at index {}".format(word,str_1.rindex(word)))

Last occurrence of until starts at index 22

In [ ]:
str_1.rindex(word)

43

#Write a Python program to swap two number without using third variable.

Example 1:
Input:
a=9

b=2

Output:
value of a is : 9

value of b is : 2

After swapping

value of a is : 2

value of b is : 9

In [ ]:
a=int(input())
b=int(input())
print("value of a is: ",a)
print("value of b is: ",b)
a,b=b,a
print("After swapping")
print("value of a is: ",a)
print("value of b is: ",b)

5
6
value of a is:  5
value of b is:  6
After swapping
value of a is:  6
value of b is:  5

#Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

Example 1:
Input:
add=10

mult1=12

mult2=4

Output:
After addition: 25

After multiplication: 48

In [4]:
add=10
mult1=12
mult2=4
a= (lambda x: x+15)
b=(lambda x,y : x*y)
print('After addition:',a(add))
print('\nAfter multiplication:',b(mult1,mult2))

After addition: 25

After multiplication: 48

#Find Tuple with smallest indexEasy
Write a Python program to find a tuple, the smallest second index value from a list of tuples.

Example 1:
Input:
x= [(4, 1), (1, 2), (6, 0)]

Output:
(6, 0)

In [42]:
x= [(4, 1), (1, 2), (6, 0)]
a=0
for i in range(len(x)):
  if x[i][1]<=a:
    print(x[i])

(6, 0)

In [2]:
y= [(4, 1), (1, 2), (6, 0)]
print(min(y, key=lambda n: (n[1], -n[0])))

(6, 0)

In [ ]:
print()

# Python program to sort a list of tuples by second Item

#Euclidean Distance Formula
As discussed above, the Euclidean distance formula helps to find the distance of a line segment. Let us assume two points, such as (x1, y1) and (x2, y2) in the two-dimensional coordinate plane.

Thus, the Euclidean distance formula is given by:

d =√[(x2 – x1)2 + (y2 – y1)2]

Where,

“d” is the Euclidean distance

(x1, y1) is the coordinate of the first point

(x2, y2) is the coordinate of the second point.

In [6]:
x_1, y_1 = 6, 7
x_2, y_2 = 5, 4

PQ=(((x_2-x_1)**2)+((y_2-y_1)**2))**0.5

print("The Euclidean Distance between the above given two points 'PQ' =",PQ)

The Euclidean Distance between the above given two points 'PQ' = 3.1622776601683795

#Write a Python program to filter a list of integers using Lambda.

Example 1:
Input:
Original list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Output:
Even numbers from the said list:

[2, 4, 6, 8, 10]

Odd numbers from the said list:

[1, 3, 5, 7, 9]

In [16]:
lst= [1,2, 3, 4, 5, 6, 7, 8, 9, 10]
a=(lambda x: lst[x]%2==0)
b=(lambda x: lst[x]%2!=0)
evn=[]
odd=[]
for i in range(len(lst)):
  if a(i)==True:
    evn.append(lst[i])
  else:
    odd.append(lst[i])
print('Even numbers from the said list:\n',evn)
print('Odd numbers from the said list:\n',odd)

Even numbers from the said list:
 [2, 4, 6, 8, 10]
Odd numbers from the said list:
 [1, 3, 5, 7, 9]

# While loop
Take input again and again from the user until he does not give an input number greater than 100.

In [4]:
while(True):                                                                    # it iterates for infinite times untilk we do not give a condition
  inp=int(input("Enter a number: "))
  if inp>100:
    print("You have entered a number greater than 100!!!","\n",'='*60)
    break
  else:
    print("Please enter a number again.")

Please enter a number again.
Please enter a number again.
Please enter a number again.
Please enter a number again.
You have entered a number greater than 100!!!
 ============================================================

# Write a Python program to change the position of every nth value with the (n+1)th in a list.

Example 1:
Input:
[1, 0, 3, 2, 5, 4]

Output:
[0, 1, 2, 3, 4, 5]

In [39]:
lst=[1, 0, 3, 2, 5, 4]
a=(lambda x: lst[x])

In [40]:
a(2)

3

# Find next prime number
Write a Python Program to Find Next Prime Number.

Example 1:
Input:
Given Number = 48

Output:
The next prime number of 48 is: 53

In [19]:
# Create a function to find the prime number
def prm_chkr(n):
    for num in range(2,round(n/2)+1):
        if (n%num==0):
            return False
            break
    else:
        return True

In [28]:
# Find the next prime number of given number
n=7
flag=False
while flag==False:
    n+=1
    if prm_chkr(n)==True:
        print(n)
        flag=True

11

# Armstrong numberEasy
Write a program in Python to check whether an integer is Armstrong number or not.

What is Armstrong Number?

It is a number which is equal to the sum of cube of its digits. For eg: 153, 370 etc.

Lets see it practically by calculating it,

Suppose I am taking 153 for an example

First calculate the cube of its each digits

1^3 = (1 * 1 * 1) = 1

5^3 = (5 * 5 * 5) = 125

3^3= (3 * 3 * 3) = 27

Now add the cube

1+125+27 = 153

It means 153 is an Armstrong Number.

Example 1:
Input:
153

Output:
Number is Armstrong

In [31]:
num=153
const=0
for digit in str(num):
    const += (int(digit))**len(str(num))
if const==num:
    print("Number is a Armstrong")

Number is a Armstrong

# Largest negative and smallest positiveEasy
Write a Python program to find the largest negative and smallest positive numbers (or 0 if none).

Example 1:
Input:
[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]

Output:
Largest negative and smallest positive numbers (or 0 if none) of the said list:

[-6, 2]

In [35]:
nums=[-12, -6, 300, -40, 2, 2, 3, 57, -50, -22, 12, 40, 9, 11, 18]
ngt_nums=sorted(i for i in nums if i<0)
pst_nums=sorted(i for i in nums if i>0)
print([min()])

In [36]:
ngt_nums

[-50, -40, -22, -12, -6]

# Input Format Hackerrank List comprehension

Four integers x,y,z and n, each on a separate line.

Constraints

Print the list in lexicographic increasing order.

Sample Input 0
* x=1
* y=1
* z=1
* n=2

Sample Output 0

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [2]:
x=int(input())
y=int(input())
z=int(input())
n=int(input())

result = [ [i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k!=n]
print(result)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0]]

# Sum of even and odd numbers (Easy)
Write a program to input an integer N and print the sum of all its even digits and sum of all its odd digits separately.

Note : For printing multiple values in one line, put them inside print separated by space.

You can follow this syntax for printing values of two variables val1 and val2 separaetd by space -

print(val1, "", val2)

Example 1:
Input:
123456789

Output:
20 25

In [4]:
num=123456789
f_evn=(lambda x: x%2==0)
sum_evn=0
sum_odd=0

for num1 in str(num):
    if f_evn(int(num1))==True:
        sum_evn+=int(num1)
    else:
        sum_odd+=int(num1)

print(sum_evn,"",sum_odd)

20  25

# Left triangle alphabet pattern- 1Easy
Write a program in python to print the following pattern for the given N number of rows.

The left alphabet triangle pattern is a triangle pattern that is made of alphabets and has perpendicular on its left side.

Example 1:
Input:
3

Output:

A 

BB
 
CCC

In [10]:
dict_alp={1:"A",2:"B",3:"C",4:"D"}
n=3
for i in range(1,n+1):
    if i==dict_alp.key(i):
        print(dict_alp(i)*i)

AttributeError: 'dict' object has no attribute 'key'

In [28]:
n = 10
for i in range(1, n + 1):
    for j in range(i,n+1):
        print(chr(ord('A') - 1 + j),end=' ')
    print()

A B C D E F G H I J
B C D E F G H I J
C D E F G H I J
D E F G H I J
E F G H I J
F G H I J
G H I J
H I J
I J
J

In [37]:
# Take a number from user
n=10
temp=n
for i in range(1,n+1):
    print(chr(ord("A")-1+i)*temp)
    temp-=1

AAAAAAAAAA
BBBBBBBBB
CCCCCCCC
DDDDDDD
EEEEEE
FFFFF
GGGG
HHH
II
J

In [38]:
# Take a number from user
n=5
# Iterate through 1 to the given number n because we want n rows
for i in range(1,n+1):
    # We know that machine takes numbers instead of characters like for "A ASCII code is 65" 
    # Here ord() function returns the ASCII of given character so ord("A") gives 65
    # Then we subtracted 65 by 1 and added the i'th number
    # i will contain values as 1,2,3,4,5 then we can have the ASCII numbers as 65,66,67,68,69
    # Then chr(ex.65) will give the corrosponding alphabet like 66=B,67=C,etc. 
    # After that we multiplied it by i that means by A*1, B*2, C*3, D*4 etc.
    print(chr(ord("A")-1+i)*i)

A
BB
CCC
DDDD
EEEEE

# Left triangle alphabet pattern-2Easy
Write a program in python to print the following pattern for the given N number of rows.

The left alphabet triangle pattern is a triangle pattern that is made of alphabets and has perpendicular on its left side.

Example 1:
Input:
4

Output:

A

BC

CDE

DEFG

In [17]:
n= 5

for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(ord("A")+j-1),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [11]:
n=5
# Outer loop
for i in range(1,n+1):
    k=i
    # Inner loop
    for j in range(1,i+1):
        print(chr(ord("A")+k-1),end="")
        k=k+1
    print()

A
BC
CDE
DEFG
EFGHI

# Write a program in python to print the following pattern for the given number of rows.

The left alphabet triangle pattern is a triangle pattern that is made of alphabets and has perpendicular on its left side.

Example 1:
Input:
5

Output:

E

DE

CDE

BCDE

ABCDE

In [22]:
n=5
k=1
for num in range(n,0,-1):
    for j in range(num,n+1,1):
        print(chr(ord("A")-1+j),end='')
    print()

E
DE
CDE
BCDE
ABCDE

# Sort the list elements with minimal time complexity in python.

In [31]:
lst=[1,3,2,5,6,4,7,555,15,684,74,89,632,123,5654,8989,66515,654,8949842,165165]
lst1=[]
while len(lst)>0:
    lst1.append(max(lst))
    lst.remove(max(lst))

print(lst1)

[8949842, 165165, 66515, 8989, 5654, 684, 654, 632, 555, 123, 89, 74, 15, 7, 6, 5, 4, 3, 2, 1]